anthropic==0.54.0
elevenlabs==1.12.0
google-api-python-client==2.165.0
google-auth==2.38.0
google-auth-oauthlib==1.2.1
moviepy==2.1.2
numpy==2.2.0
Pillow==11.1.0
python-dotenv==1.1.0
requests==2.32.2
